@import "tailwindcss";

/*:root {

}*/

@layer base {

  body {
    font-size: 18px;
  }

  h1 {
    font-size: var(--text-6xl);
    font-weight: 700;
  }
  h2 {
    font-size: var(--text-5xl);
    font-weight: 700;
    font-family: var(--reddit-sans);
  }
  h3 {
    font-size: var(--text-2xl);
    font-weight: 700;
    font-family: var(--reddit-sans);
  }
}

@theme inline {
  --color-background: #FFFFFF;
  --color-foreground: #353535;
  --color-dark-blue: #31515C;
  --color-light-blue: #B3DEE5;
  --color-accent: #FFA101;
  --color-yellow: #FAE6B1;

  --color-dark-grey: #353535;
  --color-medium-grey: #848484;
  --color-light-grey: #F6F6F6;
  --font-sans: var(--font-reddit-sans);
  --header-height: 104px;
}

@layer components {

  .brand-max-w {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .highlight {
    width: max-content;
    position: relative;
    
    &::after {
      content: "";
      display: block;
      height: .7rem;
      background: var(--orange);
      position: absolute;
      bottom: 0.1rem;
      width: 100%;
      z-index: -1;
      transform: skew(15deg, 358deg);
    }
  }

}

/*@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--dark-grey);
    --foreground: var(--white);
  }
}*/

